<div class="container">
    <h1>create forum</h1>


<div class="form-group">
    <label for="inputsm">forum title:</label>
    <input class="form-control input-sm" id="inputsm" type="text" ng-model="forum_Name">
  </div>


<div class="form-group">
    <label for="inputlg">description:</label>
    <input class="form-control input-sm" rows="3" id="inputsm" type="text" ng-model="forum_Description">
  </div>
                <a ng-click="#forums" class="btn btn-small">cancel</a>
                <a ng-click="create()" class="btn btn-small btn-primary" ng-model="forumbutton">create forum</a>

              <!-- user-creation.html: -->
               <!-- <a ng-click="createNewUser()" class="btn btn-small btn-primary">delete</a>-->
            </div>
        </div>
    </form>
</div>