
 <div class="container">
     <div class="container">
        
        <div><h1 align="center" style="color:red" ><b>{{forumDetail.title}}<b></div>
        <hr>
                         <br>
                        <br>
                        
<table>
<div><h4 align="center" style="color:black;">{{forumDetail.body}}</h4></div>
                        <div>author: {{forumDetail.author_username}}</div>
                
</table>

<div class="span6">
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 10px;"></th>
            <th style="min-width: 30px;"></th>
         
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="g in replyDetail">
            <div><td>{{g.author_username}}</td></div>
            <div><td>{{g.text}}</td></div>
            <!--<td><a ng-click="editForum(user.id)" class="btn btn-small btn-primary">reply</a></td>-->
            <!--<td><a ng-click="deleteForum(user.id)" class="btn btn-small btn-danger">delete</a></td>-->
       <!-- </tr>
        </tbody>
    </table>

</div>

<div class="form-group">
    
    <input class="form-control input-sm" rows="3" ng-show="showout" id="inputsm" type="text" ng-model="replyPost">
  </div>

 <a ng-click="replyAddForum()" ng-model="replyButton" ng-show="showout" class="btn btn-small btn-primary">reply</a>

 <div>
<div>
</div>
</div>


                        