

 <div class="container">
        <div class="container">
        
        
                        <div><h1 align="center"><b>{{forumDetail.title}}<b><h1></div>
                        
                       
                        <br>
                        <br>
                        
                        <div>{{forumDetail.body}}</div>
                        <div><h4>id:</h4>{{forumDetail.id}}
                        <h4>author:</h4>{{forumDetail.author_username}}</div>
                    
                    </div>
                    <br>
                    <input ng-show="showout" ng-model="replyPost">
                     <a ng-click="replyAddForum()" ng-model="replyButton" ng-show="showout" class="btn btn-small btn-primary">reply</a>
                </div>

    
   
        