<!--<div class="jumbotron">
        <h1>Discover Movies</h1>
        <p class="lead">discover new movies</p>
        <P><a class="btn btn-lg btn-success" href="#" role="button">sign up</a></P>
    </div>-->

<div class="container">
    <div ng-repeat="m in movies">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">{{m.original_title}}</div>
                        <div class="panel-body"><a ng-click="movieDetails()"><img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{m.poster_url}}"</a> class="img-responsive" style="width:100%" alt="Image"></div>
                        <div class="panel-footer"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>