
<div class="container">
        <div class="container">
        
        
                        <div><h1 align="center"><b>{{movieDetail.original_title}}<b><h1></div>
                        
                        <div ><a href="/#/movie/{{m.id}}"><img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{movieDetail.poster_url}}" class="img-responsive" style="width:35%" alt="Image" border="5"></a></div>
                        <br>
                        <br>
                        
                        <div><h4>story line:</h4>{{movieDetail.overview}}</div>
                        <div><h4>average votes:</h4>{{movieDetail.vote_avg}}</div>
                        <div><h4>genre:</h4></div>
                        <div ng-repeat="g in movieDetail.genre">
                            <div>{{g.name}}</div>
                    
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div>
<h3>rate movie:<h3>
 <input ng-model="rateInput">


    <button class="btn btn-primary btn-block"  ng-model="rateSubmit" data-ng-click="rate()" type="submit">rate</button>

<br>
<br>
<br>
<h3><br>Suggestions:</br></h3>
<div class="container">
   
        <div class="container">
            <div class="row">
                 <div ng-repeat="s in suggest">
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">{{s.original_title}}</div>
                        <div class="panel-body "><a href="/#/movie/{{s.id}}"><img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{s.poster_url}}" class="img-responsive" style="width:100%" alt="Image"></a></div>
                        <div class="panel-footer"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
   

