/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.jumbotron {
            margin-bottom: 0;
            background-color:#337ab7;
        }

  h4 {
    color:red;
  }

  img {
    display: block;
    margin: 0 auto;
   ;
}
btn{ 
  color:#1abc9c;
}
/*#imaginary_container{
    margin-top:20%; /* Don't copy this 
}*/
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.img-responsive{
  width:"300" ;
  height:"450";
}


  
   