<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Discover movies</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body data-ng-controller="myAppCtrl">
<div style="margin:0; padding:0">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#home">Home</a></li>
                <li class="active"><a href="#explore">Explore</a></li>
                <li class="active"><a href="#forums">Forums</a></li>

               <div class="container">
                  <div class="container1">
	<div class="row">
        <div class="col-md-2">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        </div>
        <div class="col-md-6">
            <div id="imaginary_container"> 
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" ng-model="searchItem" style="height:50px" >
                    <span class="input-group-addon">
                        <button type="submit" ng-model="searchButton" ng-click="searchMovie()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                </div>
            </div>
        </div>
        <div>
	</div>
</div>
                <!--<div class="col-md-4">
                    <input class="form-control" type="search" />
                    <span class="glyphicon glyphicon-search"></span>
                </div>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li role="presentation" class="active" ng-show="showin" ng-model="signUpOption"><a  id="id01" href="#signin">sign in</a></li>
          <li role="presentation" class="active" ng-show="showout" ng-model="signOutOption"><a  id="id02" href="#signout"> {{uname}} Sign out</a></li>

                  <!--<li class="loginclass"><a><span class="glyphicon glyphicon-user"> sign in</span></a></li>-->

            </ul>
        </div>
    </div>
</nav>
</div>

  
<!--
  <div class= "container" >
    <div class="header claerfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="#home" >Home</a></li>
          <li role="presentation" class="active"><a href="#explore">Explore</a></li>
          <li role="presentation" class="active"><a href="#forums">Forums</a></li>
          <li role="presentation" class="active" ng-show="showin" ng-model="signUpOption"><a  id="id01" href="#signin">sign in</a></li>
          <li role="presentation" class="active" ng-show="showout" ng-model="signOutOption"><a  id="id02" nhref="#signout">Sign out</a></li>

        </ul>
      </nav>
     

  </div>
  </div>-->

  <div ng-view></div>
  



  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  
  <script type="text/javascript" src="home/home.js"></script>
  <script src="signup/signup.js"></script>
  <script src="signin/signin.js"></script>
   <script src="explore/explore.js"></script>
    <script src="forums/forums.js"></script>
   <script src="home/movie_details.js"></script>
    <script src="signin/signout.js"></script>
     <script src="forums/create_forum.js"></script>
     <script src="forums/forum_detail.js"></script>
     
    
    <!--
    <script src="search/search.js"></script>
    -->
    <script src="app.js"></script>
</body>
</html>
