

<div class="container" >

    <div >
        <h1>COMEDY</h1>
    </div>
    <div ng-repeat="m in movies_comedy">
<div class="container" >
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">{{m.original_title}}</div>
                <div class="panel-body"><img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{m.poster_url}}" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>
   </div>
   
</div>

<div class="container" >

    <div >
        <h1>ACTION</h1>
    </div>
    <div ng-repeat="m in movies_action">
<div class="container" >
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">{{m.original_title}}</div>
                <div class="panel-body"><img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{m.poster_url}}" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>
   </div>
   
</div>

<div class="container" >

    <div >
        <h1>DRAMA</h1>
    </div>
    <div ng-repeat="m in movies_drama">
<div class="container" >
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">{{m.original_title}}</div>
                <div class="panel-body"><img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{m.poster_url}}" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>
   </div>
   
</div>

<div class="container" >

    <div >
        <h1>ANIMATION</h1>
    </div>
    <div ng-repeat="m in movies_animation">
<div class="container" >
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">{{m.original_title}}</div>
                <div class="panel-body"><img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{m.poster_url}}" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>
   </div>
   
</div>
<div class="container" >

    <div >
        <h1>ROMANCE</h1>
    </div>
    <div ng-repeat="m in movies_romance">
<div class="container" >
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">{{m.original_title}}</div>
                <div class="panel-body"><img  src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{m.poster_url}}" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>
   </div>
   
</div>

<div class="container" >

    <div >
        <h1>THRILLER</h1>
    </div>
    <div ng-repeat="m in movies_thriller">
<div class="container" >
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">{{m.original_title}}</div>
                <div class="panel-body"><img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{m.poster_url}}" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>
   </div>
   
</div>

