


<div class="container" >

    <div >
        <h1 align="center" ><b>COMEDY<b></h1>
        <br>
        <br>
    </div>
    
<div class="container" >
    <div class="row">
        <div ng-repeat="m in movies_comedy">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">{{m.original_title}}</div>
                <div class="panel-body"><a href="/#/movie/{{m.id}}"><img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{m.poster_url}}" class="img-responsive" style="width:100%" alt="Image"></a></div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>
   </div>
   
</div>

<div class="container" >

    <div >
        <h1 align="center" ><b>ACTION</b></h1>
        <br>
        <br>
    </div>
    
<div class="container" >
    <div class="row">
        <div ng-repeat="m in movies_action">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">{{m.original_title}}</div>
                <div class="panel-body"><a href="/#/movie/{{m.id}}"><img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{m.poster_url}}" class="img-responsive" style="width:100%" alt="Image"></a></div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>
   </div>
   
</div>

<div class="container" >

    <div >
        <h1 align="center" ><b>DRAMA</b></h1>
        <br>
        <br>
    </div>
    
<div class="container" >
    <div class="row">
        <div ng-repeat="m in movies_drama">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">{{m.original_title}}</div>
                <div class="panel-body"><a href="/#/movie/{{m.id}}"><img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{m.poster_url}}" class="img-responsive" style="width:100%" alt="Image"></a></div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>
   </div>
   
</div>

<div class="container" >

    <div >
        <h1 align="center"><b>ANIMATION</b></h1>
        <br>
        <br>
    </div>
    
<div class="container" >
    <div class="row">
        <div ng-repeat="m in movies_animation">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">{{m.original_title}}</div>
                <div class="panel-body"><a href="/#/movie/{{m.id}}"><img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{m.poster_url}}" class="img-responsive" style="width:100%" alt="Image"></a></div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>
   </div>
   
</div>
<div class="container" >

    <div >
        <h1 align="center"><b>ROMANCE</b></h1>
        <br>
        <br>
    </div>
    
<div class="container" >
    <div class="row">
        <div ng-repeat="m in movies_romance">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">{{m.original_title}}</div>
                <div class="panel-body"><a href="/#/movie/{{m.id}}"><img  src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{m.poster_url}}" class="img-responsive" style="width:100%" alt="Image"></a></div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>
   </div>
   
</div>

<div class="container" >

    <div >
        <h1 align="center"><b>THRILLER</b></h1>
        <br>
        <br>
    </div>
  
<div class="container" >
    <div class="row">
          <div ng-repeat="m in movies_thriller">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">{{m.original_title}}</div>
                <div class="panel-body"><a href="/#/movie/{{m.id}}"><img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{m.poster_url}}" class="img-responsive" style="width:100%" alt="Image"></a></div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>
   </div>
   
</div>

